In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from tqdm import tqdm
import pickle

In [195]:
agg_df=pd.read_csv("../data/extra_data.csv")
agg_df.drop(['Unnamed: 0'], axis=1, inplace=True)
agg_df

,유저_번호,고유_일자,첫_로그_일자,마지막_로그_일자,운영체제_갯수,앱_실행,조회_전환_시간,방문일자비율,앱실행비율,세션당_한도조회_시작하기_버튼_클릭,...,세션당_DSR_계산기_서비스_이용,세션당_회원가입,세션당_KCB_신용정보_조회,전체_이벤트,신청_종류,신청서_갯수,신청_갯수,R,F,M
0,11,2,69,42,1,3.0,1.0,0.028986,0.043478,0.666667,...,0.0,0.0,2.666667,31,3.0,2.0,3.0,2,2,3
1,12,10,79,13,1,11.0,1.0,0.126582,0.139241,1.000000,...,0.0,0.0,0.272727,82,1.0,10.0,0.0,3,4,4
2,17,2,87,86,1,3.0,1.0,0.022989,0.034483,1.666667,...,0.0,0.0,0.666667,20,3.0,2.0,2.0,1,2,3
3,19,1,18,18,1,1.0,1.0,0.055556,0.055556,1.000000,...,0.0,0.0,0.000000,4,2.0,2.0,0.0,3,2,3
4,20,9,79,9,1,13.0,1.0,0.113924,0.164557,0.692308,...,0.0,0.0,0.076923,54,3.0,6.0,5.0,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420050,879693,3,19,12,1,4.0,1.0,0.157895,0.210526,3.000000,...,0.0,0.0,0.250000,38,3.0,3.0,2.0,3,4,3
420051,879694,1,62,62,1,1.0,1.0,0.016129,0.016129,1.000000,...,0.0,0.0,0.000000,4,1.0,1.0,0.0,1,1,2
420052,879695,1,5,5,1,1.0,1.0,0.200000,0.200000,1.000000,...,0.0,0.0,0.000000,4,3.0,1.0,1.0,4,4,2
420053,879696,1,79,79,1,1.0,1.0,0.012658,0.012658,0.000000,...,0.0,0.0,3.000000,11,3.0,2.0,3.0,1,1,3
420054,879698,1,8,8,1,1.0,NaN,0.125000,0.125000,1.000000,...,0.0,0.0,0.000000,3,NaN,NaN,NaN,3,3,1

# user_spec에 추가
1. 주 경로에 대한 유저별 count(12개)

```python
cols=['UG', 'GU', 'GV', 'UV', 'VG', 'UGV', 'GUV', 'VU', 'VUG', 'VGU', 'UVG', 'GVU']
# log_dict_user 이용하면 될듯
```

2. 퍼널별 회수 추가
- 각각 'VS', 'SC', 'CE'
```python
funnel_count_cols=['funnel_10', 'funnel_21', 'funnel_32']
# log_dict_user 이용하면 될듯
```

In [196]:
with open('../data/log_dict_user.pkl','rb') as f:
    log_dict_user = pickle.load(f)

In [197]:
log_ngram_sort_df_15=pd.read_csv("../data/log_ngram_sort_df_15.csv")
log_ngram_sort_df_15.rename(columns={"Unnamed: 0":"route"}, inplace=True)
log_ngram_sort_df_15

                                                route    count  rank
0                                       GetCreditInfo  2073473     1
1                                  ViewLoanApplyIntro  1601168     2
2                                       UseLoanManage  1402808     3
3         ('CompleteIDCertification', 'EndLoanApply')   966778     4
4                                                 NaN   943467     5
5                  ('UseLoanManage', 'GetCreditInfo')   681171     6
6            ('StartLoanApply', 'ViewLoanApplyIntro')   658613     7
7                  ('GetCreditInfo', 'UseLoanManage')   565956     8
8            ('ViewLoanApplyIntro', 'StartLoanApply')   487270     9
9       ('StartLoanApply', 'CompleteIDCertification')   338360    10
10            ('GetCreditInfo', 'ViewLoanApplyIntro')   195580    11
11            ('UseLoanManage', 'ViewLoanApplyIntro')    98809    12
12            ('ViewLoanApplyIntro', 'GetCreditInfo')    92326    13
13  ('UseLoanManage', 'GetCreditInfo', 'ViewLoanAp...    81736    14
14  ('GetCreditInfo', 'UseLoanManage', 'ViewLoanAp...    62552    15
15            ('ViewLoanApplyIntro', 'UseLoanManage')    39242    16
16  ('ViewLoanApplyIntro', 'UseLoanManage', 'GetCr...    20045    17
17  ('ViewLoanApplyIntro', 'GetCreditInfo', 'UseLo...    16604    18
18  ('UseLoanManage', 'ViewLoanApplyIntro', 'GetCr...     9640    19
19                                      UsePrepayCalc     5705    20
20  ('GetCreditInfo', 'ViewLoanApplyIntro', 'UseLo...     5328    21
21                                         UseDSRCalc     3660    22
22                 ('UseLoanManage', 'UsePrepayCalc')     2498    23
23  ('GetCreditInfo', 'UseLoanManage', 'UsePrepayC...     2388    24
24                    ('UseLoanManage', 'UseDSRCalc')     1872    25
25   ('GetCreditInfo', 'UseLoanManage', 'UseDSRCalc')     1782    26
26                 ('GetCreditInfo', 'UsePrepayCalc')     1148    27
27                 ('UsePrepayCalc', 'GetCreditInfo')     1130    28
28                    ('GetCreditInfo', 'UseDSRCalc')      970    29
29  ('UseLoanManage', 'GetCreditInfo', 'UsePrepayC...      938    30
30   ('UseLoanManage', 'GetCreditInfo', 'UseDSRCalc')      760    31
31                    ('UseDSRCalc', 'GetCreditInfo')      672    32
32                    ('UseDSRCalc', 'UsePrepayCalc')      630    33
33            ('UsePrepayCalc', 'ViewLoanApplyIntro')      575    34
34  ('UsePrepayCalc', 'GetCreditInfo', 'UseLoanMan...      526    35
35  ('UseLoanManage', 'UsePrepayCalc', 'GetCreditI...      481    36
36               ('UseDSRCalc', 'ViewLoanApplyIntro')      382    37
37                    ('UsePrepayCalc', 'UseDSRCalc')      350    38
38            ('ViewLoanApplyIntro', 'UsePrepayCalc')      341    39
39   ('UseLoanManage', 'UseDSRCalc', 'GetCreditInfo')      330    40
40   ('UseLoanManage', 'UseDSRCalc', 'UsePrepayCalc')      290    41
41  ('GetCreditInfo', 'UseLoanManage', 'UseDSRCalc...      274    42
42                 ('UsePrepayCalc', 'UseLoanManage')      269    43
43               ('ViewLoanApplyIntro', 'UseDSRCalc')      256    44
44  ('UseLoanManage', 'ViewLoanApplyIntro', 'UsePr...      246    45
45  ('UseLoanManage', 'UsePrepayCalc', 'ViewLoanAp...      239    46
46  ('GetCreditInfo', 'UseLoanManage', 'ViewLoanAp...      235    47
47  ('GetCreditInfo', 'UseLoanManage', 'UsePrepayC...      230    48
48  ('UsePrepayCalc', 'UseLoanManage', 'GetCreditI...      228    49

In [198]:
main_route_idx=[5, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20]
main_route_cols=['UG', 'GU', 'GV', 'UV', 'VG', 'UGV', 'GUV', 'VU', 'VUG', 'VGU', 'UVG', 'GVU']

funnel_route_idx=[6, 8, 9, 3]
funnel_route_cols=['funnel_01', 'funnel_10', 'funnel_21', 'funnel_32']

In [199]:
# log_dict_user[log_ngram_sort_df_15.iloc[main_route_idx[0]]['route']]

In [214]:
agg_df[main_route_cols] = 0
for i in range(len(main_route_cols)):
    log_dict_by_user = log_dict_user[log_ngram_sort_df_15.iloc[main_route_idx[i]]['route']]

    user_df = list(agg_df['유저_번호'])
    dict_list=[0]*len(agg_df)
    for j in tqdm(range(len(log_dict_by_user))):
        try:
            dict_list[user_df.index(log_dict_by_user[j])]+=1
        except ValueError: continue # 해당 유저가 유저 리스트에 없음       
    agg_df[main_route_cols[i]]=dict_list
agg_df[main_route_cols].describe()

100%|██████████| 681171/681171 [29:55<00:00, 379.45it/s]
100%|██████████| 565956/565956 [24:34<00:00, 383.79it/s]
100%|██████████| 195580/195580 [08:39<00:00, 376.68it/s]
100%|██████████| 98809/98809 [04:14<00:00, 387.62it/s]
100%|██████████| 92326/92326 [04:03<00:00, 378.82it/s]
100%|██████████| 81736/81736 [03:35<00:00, 378.42it/s]
100%|██████████| 62552/62552 [02:41<00:00, 387.47it/s]
100%|██████████| 39242/39242 [01:43<00:00, 377.39it/s]
100%|██████████| 20045/20045 [00:54<00:00, 371.13it/s]
100%|██████████| 16604/16604 [00:43<00:00, 379.95it/s]
100%|██████████| 9640/9640 [00:24<00:00, 389.60it/s]
100%|██████████| 5328/5328 [00:14<00:00, 376.58it/s]

,UG,GU,GV,UV,VG,UGV,GUV,VU,VUG,VGU,UVG,GVU
count,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000
mean,1.506477,1.272895,0.427708,0.223918,0.204376,0.180369,0.142008,0.086229,0.043461,0.037088,0.021850,0.011606
std,4.380623,3.935530,1.151478,0.673304,0.655487,0.570938,0.486311,0.388861,0.243180,0.219168,0.160654,0.116738
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,318.000000,791.000000,152.000000,28.000000,27.000000,28.000000,24.000000,27.000000,16.000000,11.000000,6.000000,5.000000

In [133]:
s=log_dict_user[log_ngram_sort_df_15.iloc[main_route_idx[0]]['route']]
len(s), len(set(s))

(681171, 196329)

In [202]:
agg_df[funnel_route_cols] = 0
for i in range(len(funnel_route_cols)):
    log_dict_by_user = log_dict_user[log_ngram_sort_df_15.iloc[funnel_route_idx[i]]['route']]

    user_df = list(agg_df['유저_번호'])
    dict_list=[0]*len(agg_df)
    for j in tqdm(range(len(log_dict_by_user))):
        try:
            dict_list[user_df.index(log_dict_by_user[j])]+=1
        except ValueError: continue # 해당 유저가 유저 리스트에 없음       
    agg_df[funnel_route_cols[i]]=dict_list
agg_df[funnel_route_cols].describe()

100%|██████████| 658613/658613 [29:02<00:00, 377.93it/s]
100%|██████████| 487270/487270 [21:31<00:00, 377.30it/s]
100%|██████████| 338360/338360 [14:50<00:00, 380.14it/s]
100%|██████████| 966778/966778 [41:46<00:00, 385.67it/s]

           funnel_01      funnel_10      funnel_21      funnel_32
count  420055.000000  420055.000000  420055.000000  420055.000000
mean        1.481056       1.095642       0.767111       2.195748
std         3.488985       2.568048       1.931912       5.449226
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         2.000000       1.000000       1.000000       2.000000
max       209.000000      82.000000      60.000000     710.000000

# user_spec에 추가
3. 퍼널 10, 21, 32별로 고민과 비고민, 걸린 시간 추가

```python
funnel_time_cols=['funnel_10_hesitate_mean', 'funnel_21_hesitate_sec_mean', 'funnel_32_hesitate_sec_mean']
```

In [224]:
time_delta1=pd.read_csv("../data/time_delta1.csv")
time_delta2=pd.read_csv("../data/time_delta2.csv")
time_delta3=pd.read_csv("../data/time_delta3.csv")

In [225]:
time_delta1.drop(['funnel_10_hesitate_x', 'funnel_10_hesitate_y'], axis=1, inplace=True)
time_delta2.drop(['funnel_21_hesitate_sec_x', 'funnel_21_hesitate_sec_y'], axis=1, inplace=True)
time_delta3.drop(
    ['funnel_32_hesitate_sec_x', 'funnel_32_hesitate_sec_y'], axis=1, inplace=True)
time_delta1.head()

   유저_번호  funnel_10_hesitate_mean
0     11                      0.0
1     12                      0.0
2     17                      1.0
3     19                      0.0
4     20                      0.0

In [226]:
len(agg_df), len(time_delta1), len(time_delta2), len(time_delta3)

(420055, 309243, 258506, 242602)

In [227]:
agg_df.describe()

,유저_번호,고유_일자,첫_로그_일자,마지막_로그_일자,운영체제_갯수,앱_실행,조회_전환_시간,방문일자비율,앱실행비율,세션당_한도조회_시작하기_버튼_클릭,...,GUV,VU,VUG,VGU,UVG,GVU,funnel_01,funnel_10,funnel_21,funnel_32
count,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,243229.000000,420055.000000,420055.000000,420055.000000,...,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000
mean,439590.608801,4.449079,57.992541,30.120910,1.012206,5.994360,7.455336,0.094264,0.124136,0.559765,...,0.142008,0.086229,0.043461,0.037088,0.021850,0.011606,1.481056,1.095642,0.767111,2.195748
std,253885.240910,5.931937,27.375782,25.820447,0.110494,11.353997,15.078087,0.127262,0.244693,0.711715,...,0.486311,0.388861,0.243180,0.219168,0.160654,0.116738,3.488985,2.568048,1.931912,5.449226
min,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.010870,0.010870,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,219659.500000,1.000000,36.000000,8.000000,1.000000,1.000000,1.000000,0.027027,0.026316,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,439794.000000,2.000000,63.000000,22.000000,1.000000,3.000000,1.000000,0.055556,0.058824,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,659309.500000,5.000000,83.000000,48.000000,1.000000,6.000000,3.000000,0.108696,0.129870,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000
max,879698.000000,92.000000,92.000000,92.000000,3.000000,1353.000000,92.000000,1.000000,20.500000,27.000000,...,24.000000,27.000000,16.000000,11.000000,6.000000,5.000000,209.000000,82.000000,60.000000,710.000000

In [228]:
agg_df=pd.merge(left = agg_df, right = time_delta1, how = "left", on = "유저_번호")
agg_df=pd.merge(left = agg_df, right = time_delta2, how = "left", on = "유저_번호")
agg_df=pd.merge(left = agg_df, right = time_delta3, how = "left", on = "유저_번호")

In [229]:
agg_df.describe()

,유저_번호,고유_일자,첫_로그_일자,마지막_로그_일자,운영체제_갯수,앱_실행,조회_전환_시간,방문일자비율,앱실행비율,세션당_한도조회_시작하기_버튼_클릭,...,VGU,UVG,GVU,funnel_01,funnel_10,funnel_21,funnel_32,funnel_10_hesitate_mean,funnel_21_hesitate_sec_mean,funnel_32_hesitate_sec_mean
count,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,243229.000000,420055.000000,420055.000000,420055.000000,...,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,420055.000000,254895.000000,215344.000000,207278.000000
mean,439590.608801,4.449079,57.992541,30.120910,1.012206,5.994360,7.455336,0.094264,0.124136,0.559765,...,0.037088,0.021850,0.011606,1.481056,1.095642,0.767111,2.195748,0.257632,104.939627,220.504933
std,253885.240910,5.931937,27.375782,25.820447,0.110494,11.353997,15.078087,0.127262,0.244693,0.711715,...,0.219168,0.160654,0.116738,3.488985,2.568048,1.931912,5.449226,0.437331,214.068768,214.640239
min,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.010870,0.010870,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,219659.500000,1.000000,36.000000,8.000000,1.000000,1.000000,1.000000,0.027027,0.026316,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,112.000000
50%,439794.000000,2.000000,63.000000,22.000000,1.000000,3.000000,1.000000,0.055556,0.058824,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34.000000,150.000000
75%,659309.500000,5.000000,83.000000,48.000000,1.000000,6.000000,3.000000,0.108696,0.129870,1.000000,...,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,1.000000,57.000000,213.500000
max,879698.000000,92.000000,92.000000,92.000000,3.000000,1353.000000,92.000000,1.000000,20.500000,27.000000,...,11.000000,6.000000,5.000000,209.000000,82.000000,60.000000,710.000000,1.000000,1000.000000,1000.000000

In [230]:
agg_df.to_csv("../data/extra_data_add_route.csv")

# Nan 확인

funnel_10_hesitate_mean        189848

funnel_21_hesitate_sec_mean    231873

funnel_32_hesitate_sec_mean    238399

In [231]:
agg_df.isna().sum()

유저_번호                               0
고유_일자                               0
첫_로그_일자                             0
마지막_로그_일자                           0
운영체제_갯수                             0
앱_실행                                0
조회_전환_시간                       176826
방문일자비율                              0
앱실행비율                               0
세션당_한도조회_시작하기_버튼_클릭                 0
세션당_한도조회_인트로_페이지_조회                 0
세션당_한도조회_결과_확인                      0
세션당_대출관리_서비스_이용                     0
세션당_여윳돈_계산기_서비스_이용                  0
세션당_로그인                             0
세션당_본인인증완료                          0
세션당_DSR_계산기_서비스_이용                  0
세션당_회원가입                            0
세션당_KCB_신용정보_조회                     0
전체_이벤트                              0
신청_종류                          176826
신청서_갯수                         176826
신청_갯수                          176826
R                                   0
F                                   0
M                                   0
UG                                  0
GU                                  0
GV                                  0
UV                                  0
VG                                  0
UGV                                 0
GUV                                 0
VU                                  0
VUG                                 0
VGU                                 0
UVG                                 0
GVU                                 0
funnel_01                           0
funnel_10                           0
funnel_21                           0
funnel_32                           0
funnel_10_hesitate_mean        165160
funnel_21_hesitate_sec_mean    204711
funnel_32_hesitate_sec_mean    212777
dtype: int64

In [232]:
agg_df[['funnel_10_hesitate_mean', 'funnel_21_hesitate_sec_mean', 'funnel_32_hesitate_sec_mean']]=agg_df[['funnel_10_hesitate_mean', 'funnel_21_hesitate_sec_mean', 'funnel_32_hesitate_sec_mean']].fillna(-1)

In [233]:
agg_df.isna().sum()

유저_번호                               0
고유_일자                               0
첫_로그_일자                             0
마지막_로그_일자                           0
운영체제_갯수                             0
앱_실행                                0
조회_전환_시간                       176826
방문일자비율                              0
앱실행비율                               0
세션당_한도조회_시작하기_버튼_클릭                 0
세션당_한도조회_인트로_페이지_조회                 0
세션당_한도조회_결과_확인                      0
세션당_대출관리_서비스_이용                     0
세션당_여윳돈_계산기_서비스_이용                  0
세션당_로그인                             0
세션당_본인인증완료                          0
세션당_DSR_계산기_서비스_이용                  0
세션당_회원가입                            0
세션당_KCB_신용정보_조회                     0
전체_이벤트                              0
신청_종류                          176826
신청서_갯수                         176826
신청_갯수                          176826
R                                   0
F                                   0
M                                   0
UG                                  0
GU                                  0
GV                                  0
UV                                  0
VG                                  0
UGV                                 0
GUV                                 0
VU                                  0
VUG                                 0
VGU                                 0
UVG                                 0
GVU                                 0
funnel_01                           0
funnel_10                           0
funnel_21                           0
funnel_32                           0
funnel_10_hesitate_mean             0
funnel_21_hesitate_sec_mean         0
funnel_32_hesitate_sec_mean         0
dtype: int64

In [234]:
agg_df.to_csv("../data/extra_data_add_route_.csv")